jorgebucaran/fisher
catppuccin/fish
edc/bass
franciscolourenco/done
gazorby/fish-abbreviation-tips
ilancosman/tide@v6
jorgebucaran/autopair.fish
jorgebucaran/getopts.fish
jorgebucaran/replay.fish
joseluisq/gitnow
meaningful-ooo/sponge
nickeb96/puffer-fish
patrickf1/fzf.fish
{{- if .is_dev }}
jorgebucaran/nvm.fish
reitzig/sdkman-for-fish
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
oh-my-fish/plugin-osx
{{- end }}
