jorgebucaran/fisher
catppuccin/fish
franciscolourenco/done
gazorby/fish-abbreviation-tips
ilancosman/tide@v6
jorgebucaran/autopair.fish
jorgebucaran/replay.fish
meaningful-ooo/sponge
nickeb96/puffer-fish
patrickf1/fzf.fish
{{- if .is_dev }}
jorgebucaran/nvm.fish
reitzig/sdkman-for-fish
{{- end }}
