# =============================================================================
# PATH & Environment Bootstrap
# =============================================================================()


{{ $p := index .profiles .profile -}}
{{ if and (hasKey $p "brew") $p.brew -}}
# Homebrew
set -l brew_prefix {{ template "brew-prefix" . }}
if test -x $brew_prefix/bin/brew
    __cached_source $brew_prefix/bin/brew shellenv
end
{{ end -}}

{{ if eq .de "hyprland-omarchy" -}}
# Omarchy
set -gx OMARCHY_PATH $HOME/.local/share/omarchy
fish_add_path -a --path $OMARCHY_PATH/bin
{{ end -}}

# Mise - polyglot runtime version manager (Java, Python, Node, etc.)
__cached_source mise activate --shims fish

# Custom bins
fish_add_path -a --path ~/.local/bin

# Override bins (Should come first on path)
fish_add_path --move --path ~/.local/share/overrides/bin
