# =============================================================================
# PATH Configuration
# =============================================================================

{{ $p := index .profiles .profile -}}
{{ if and (hasKey $p "brew") $p.brew -}}
# Homebrew
set -l brew_prefix {{ template "brew-prefix" . }}
if test -x $brew_prefix/bin/brew
    __cached_source $brew_prefix/bin/brew shellenv
end
{{ end -}}

# Custom bins
fish_add_path --path ~/.local/bin
