{{- /* Machine type configuration for chezmoi

     Can be set via:
     1. Environment variables (highest priority):
        CHEZMOI_IS_DEV=1 chezmoi init
        CHEZMOI_INSTALL_UI_APPS=1 chezmoi init
     2. Command-line data flags:
        chezmoi init --data is_dev=true --data install_ui_apps=true
     3. Interactive prompts (if TTY available and not set above)
     4. Previously saved values in chezmoi state
*/ -}}

{{- /* Check environment variables first */ -}}
{{- $envIsDev := lower (env "CHEZMOI_IS_DEV") -}}
{{- $envInstallUIApps := lower (env "CHEZMOI_INSTALL_UI_APPS") -}}

{{- /* Initialize with env vars if set, otherwise use existing data or false */ -}}
{{- $isDev := false -}}
{{- $installUIApps := false -}}

{{- /* Environment variables override everything */ -}}
{{- if ne $envIsDev "" -}}
{{-   $isDev = or (eq $envIsDev "1") (eq $envIsDev "true") -}}
{{- else if hasKey .chezmoi.config.data "is_dev" -}}
{{-   $isDev = .chezmoi.config.data.is_dev -}}
{{- else if stdinIsATTY -}}
{{-   $isDev = eq (promptChoice "Development machine (SDKs, AI tools, dev utilities)?" (list "yes" "no")) "yes" -}}
{{- end -}}

{{- if ne $envInstallUIApps "" -}}
{{-   $installUIApps = or (eq $envInstallUIApps "1") (eq $envInstallUIApps "true") -}}
{{- else if hasKey .chezmoi.config.data "install_ui_apps" -}}
{{-   $installUIApps = .chezmoi.config.data.install_ui_apps -}}
{{- else if stdinIsATTY -}}
{{-   $installUIApps = eq (promptChoice "Install UI applications (IDEs, browsers, etc)?" (list "yes" "no")) "yes" -}}
{{- end -}}

[data]
    is_dev = {{ $isDev }}
    install_ui_apps = {{ $installUIApps }}
