[submodule "zsh-custom/themes/powerlevel10k"]
	path = zsh-custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "zsh-custom/plugins/zsh-completions"]
	path = zsh-custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-custom/fzf-tab"]
	path = zsh-custom/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
