# Include all configs from config.d/
Include config.d/*

# Global defaults
Host *
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%C
    ControlPersist 2h
    IdentityAgent "{{ template "default-ssh-agent" . }}"
