set -g default-shell '{{- template "brew-prefix" . -}}/bin/fish'
set -g default-terminal "tmux-256color"
set -as terminal-features ",xterm-256color:RGB:clipboard"

set -g base-index 1 
setw -g pane-base-index 1
set -g detach-on-destroy off     
set -g escape-time 0             
set -g history-limit 1000000     
set -g renumber-windows on       
set -s set-clipboard on
set -g allow-passthrough on       
set -g status-position top
#set -g default-terminal "${TERM}"
set -g pane-active-border-style 'fg=magenta,bg=default'
set -g pane-border-style 'fg=brightblack,bg=default'
setw -g mouse on
set -g pane-scrollbars 
set -g display-panes-time 4000  # 2 seconds (default 1000)

set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.config/tmux/plugins'

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'sainnhe/tmux-fzf'
set -g @plugin 'catppuccin/tmux'

set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'off'
set -g @resurrect-strategy-nvim 'session'

{{ if stat "/var/home" -}}
# Silverblue/Bazzite: /home is a symlink to /var/home, fix saved paths
set -g @resurrect-hook-post-save-layout 'sed -i "s|/var/home|/home|g" $1'
{{- end }}

set -g @catppuccin_flavor "mocha"
set -g @catppuccin_window_status_style "rounded"
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{E:@catppuccin_status_application}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -ag status-right "#{E:@catppuccin_status_session}"
set -ag status-right "#{E:@catppuccin_status_uptime}"
set -g pane-scrollbars-style "bg=#1e1e2e,fg=#585b70"


# Name split window after command by default
set-hook -g after-split-window 'select-layout; select-layout -E'

#Key Bindings
set -g prefix ^z
bind ^z send-prefix

bind -r ^Up    resize-pane -U 10
bind -r ^Down  resize-pane -D 10
bind -r ^Left  resize-pane -L 10
bind -r ^Right resize-pane -R 10

# Navigation
bind -r h select-pane -L
bind -r j select-pane -D
bind -r k select-pane -U
bind -r l select-pane -R

bind -r Tab next-window
bind -r BTab previous-window
bind n new-session

bind -r ^q last-window

# Windows & Panes
bind -r t new-window -c "{{ template "tm-pane-current-path" . }}"
bind -r T new-window -c "$HOME"
bind -r W kill-pane 

bind -r v split-window -h -c "{{ template "tm-pane-current-path" . }}"
bind -r V split-window -h -c "$HOME"

bind -r s split-window -v -c "{{ template "tm-pane-current-path" . }}"
bind -r S split-window -v -c "$HOME"

bind ^x swap-pane -t :.+
bind X choose-tree "swap-pane -t '%%'"

# Session & Window Management
bind w choose-tree
bind r command-prompt "rename-window %%"
bind R source-file ~/.config/tmux/tmux.conf

# Vim mode
setw -g mode-keys vi
bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi y send -X copy-pipe-and-cancel "{{ template "copy-cmd" . }}"
bind -T copy-mode-vi Enter send -X copy-pipe-and-cancel "{{ template "copy-cmd" . }}"
bind -T copy-mode-vi MouseDragEnd1Pane send -X copy-pipe-and-cancel "{{ template "copy-cmd" . }}"
bind -T copy-mode-vi Escape send -X cancel


# Open lazygit in floating window
bind g display-popup -E -w 90% -h 90% -d "{{ template "tm-pane-current-path" . }}" "lazygit"

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '{{ template "brew-prefix" . }}/opt/tpm/share/tpm/tpm'
